.article-list {
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: grid;
    align-items: center;
    text-align: center;

    h2 {
      color: #333;
      font-size: 28px;
      margin-bottom: 15px;
    }

    #article-img {
      width: 100%;
      max-width: 600px;
      margin: 0 auto 15px;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
    }
    p {
      margin: 15px 0;
      color: #555;
      line-height: 1.6;
    }

    a {
      color: #007bff;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    a:hover {
      text-decoration: underline;
      color: #0056b3;
    }
  }
  
  .article-list:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }
  
  
  #article-img:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  @media screen and (min-width: 1280px) {
    #artikel-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
      padding-inline: 2.5rem;
    }
  }
  
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    #artikel-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
      padding-inline: 2.5rem;
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    #artikel-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      padding-inline: 2.5rem;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 769px) {
    #artikel-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2.5rem;
      padding-inline: 2.5rem;
    }
  }
  
  @media all and (max-width: 480px) {
    #artikel-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      padding-inline: 1.5rem;
    }
  }