.container-detail {
  margin: 2%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease; /* Efek transisi untuk box-shadow */
}

.container-detail:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Efek bayangan saat hover */
}

.container-detail .head {
  margin-bottom: 2%;
  background-color: rgb(9, 113, 35); /* Warna latar belakang untuk header */
  color: white; /* Warna teks untuk header */
  padding: 1%; /* Padding tambahan untuk header */
  border-radius: 30px; /* Membuat sudut atas bulat */
}

.container-detail h2 {
  font-size: 2.5rem;
  color: #ffffff; /* Warna teks untuk h2 */
}

.container-detail .body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-detail #cuaca {
  flex-basis: 95%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 30px;
  background-color: #4CAF50; /* Warna latar belakang untuk cuaca */
  color: white; /* Warna teks untuk cuaca */
  border-radius: 55px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Efek transisi untuk scaling */
}

.container-detail #cuaca:hover {
  transform: scale(1.05); /* Efek scaling saat hover */
}

.container-detail #cuaca img {
  width: 70px; /* Sesuaikan ukuran gambar */
  max-width: 100%;
  max-height: 70px;
}

/* Tambahkan media queries untuk tampilan lebih kecil */
@media only screen and (max-width: 768px) {
  .container-detail #cuaca {
    flex-basis: 100%;
  }

  .container-detail .body {
    flex-direction: column;
  }
}