.deskripsi {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;


h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 18px;
}

}

.deskripsi .image {
    width: 370px;
    height: auto;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 128px; /* Mengubah border-radius ke sisi kanan */
    border-bottom-left-radius: 128px;
    order: 1;
}

.desk {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    margin-right: 20px; /* Menambahkan margin pada sisi kanan (sesuaikan dengan kebutuhan) */
    order: 1; /* Mengubah urutan elemen menjadi di sebelah kiri */
}



@media screen and (max-width: 600px) {
    .deskripsi {
        flex-direction: column;
    }

    .image,
    .desk {
        width: 100%;
        margin: 20px 0; /* Menambahkan margin pada sisi atas dan bawah (sesuaikan dengan kebutuhan) */
        order: initial; /* Mengembalikan urutan elemen ke urutan awal */
        border-radius: 10px; /* Mengembalikan border-radius ke keadaan awal */
    }
}
