.hasil {
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  h2 {
    text-align: center;
    color: #333;
  }
} 

#customers {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
  }
}

.hasil-panen {
  background-color: white;
  color: #000000;
  padding: 50px;

  h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: #7EC275;
    text-shadow: 2px;
    word-wrap: break-word;
  }

  p {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    color: #9ECD41;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hasil-panen-form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 30px;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #333;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #7EC275;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #45a049;
  }

  button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
}

@media all and (max-width: 480px) {
  .hasil {
    display: flex;
    padding: 0;
    justify-content: start;
  }
}