.hasil body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.hasil h2 {
  text-align: center;
  color: #333;
}

.hasil {
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#customers {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#customers th, #customers td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#customers th {
  background-color: #4caf50;
  color: white;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

/* Style for ordered list inside table cells */
#customers ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#customers ol li {
  margin-bottom: 5px;
}

//pencatat

.hasil-panen {
  background-color: white;
  color: #000000;
  padding: 50px;
}

.hasil-panen h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #7EC275;
  text-shadow: 2px;
  word-wrap: break-word;
}

.hasil-panen p {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: #9ECD41;
}

.hasil-panen .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hasil-panen-form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 30px;
}

.hasil-panen-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.hasil-panen-form label {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #333;
}

.hasil-panen-form input {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #7EC275;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
  transition: border-color 0.3s ease-in-out;
}

.hasil-panen-form input:focus {
  border-color: #45a049;
}

.hasil-panen-form button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hasil-panen-form button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
  .hasil-panen {
    padding: 30px;
  }

  .hasil-panen h2 {
    font-size: 2rem;
  }

  .hasil-panen p {
    font-size: 1.4rem;
  }

  .hasil-panen-form {
    padding: 20px;
  }

  .hasil-panen-form label,
  .hasil-panen-form input,
  .hasil-panen-form button {
    font-size: 1.4rem;
  }
}