.background-login {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
}

.login-page {
  margin: 30px auto;
  max-width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7ec275;
  border-radius: 20px;
  h2 {
    text-align: center;
    margin: 40px 20px;
    padding-top: 40px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.logo {
  display: flex;
  justify-content: center;
  img {
    width: 40%;
  }
}


.form-login {
  width: 100%;
  margin: 0 auto;
  max-width: 380px;
  padding: 50px;
  border-radius: 50px;
  border: 2px solid white;

  .form-group-login {
      display: flex;
      flex-direction: column;
      padding-block: 10px;

      input {
          padding: 0.6rem;
          border-radius: 10px;
      }

      select {
          padding: 0.6rem;
          border-radius: 10px;
      }

      input::placeholder {
          color: black;
      }
  }
  p {
    color: black;
    text-align: end;
    padding-right: 20px;
  }
  a {
    color: blue;
  }
  a:hover {
    color: purple;
  }
}

@media screen and (max-width: 768px) {
  .login-page {
      margin: 20px auto;
  }

  .form {
      padding: 20px;
      button {
          margin: 0 0 5px 0;
      }
  }

}
