.prediksi {
    display: flex;
    flex-direction: column;
    border-top: #333 solid 2px;
    .prediksi-img {
        display: flex;
        justify-content: center;
    }

    .prediksi-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 20px;
            font-size: 30px;
            color: #333;
        }
        
        p {
            line-height: 1.6;
            font-size: 18px;
            color: #555;
        }
        .btn { 
            background-color: #7EC275;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }
        
        .btn:hover {
            background-color: #4e7549;
        }
    }
}

@media screen and (min-width: 1280px) {
    .prediksi {
        width: 100%;
        .prediksi-img {
            width: 100%;
            padding-inline: 2rem;
            padding-block: 1rem;
            img {
                border-radius: 0.6rem;
                width: 50%;
            }
        }
    
        .prediksi-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .prediksi {
        width: 100%;
        .prediksi-img {
            width: 100%;
            padding-inline: 2rem;
            padding-block: 1rem;
            img {
                border-radius: 0.6rem;
                width: 50%;
            }
        }
    
        .prediksi-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .prediksi {
        width: 100%;
        .prediksi-img {
            width: 100%;
            padding-inline: 2rem;
            padding-block: 1rem;
            img {
                border-radius: 0.6rem;
                width: 50%;
            }
        }
    
        .prediksi-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@media all and (min-width: 480px) and (max-width: 769px) {
    .prediksi {
        width: 100%;
        .prediksi-img {
            width: 100%;
            padding-inline: 2rem;
            padding-block: 1rem;
            img {
                border-radius: 0.6rem;
                width: 80%;
            }
        }
    
        .prediksi-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

@media all and (max-width: 480px) {
    .prediksi {
        width: 100%;
        .prediksi-img {
            width: 100%;
            padding-inline: 2rem;
            padding-block: 1rem;
            img {
                border-radius: 0.6rem;
                width: 100%;
            }
        }
    
        .prediksi-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}