/* Container style */
.prediksi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Content style */
.content {
    width: 100%;
    text-align: center;
}

.content h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Image style */
.content .image {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Button style */
.content .btn {
    background-color: #7EC275;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default button underline */
}

.content .btn:hover {
    background-color: #4e7549;
}
