/* Container style */
.prediksi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Content style */
.content {
    width: 100%;
    text-align: center;

    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    p {
        color: #555;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: justify;
    }
}

/* Image style */
.content .image {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    height: auto;
    border-radius: 92px;
    margin-bottom: 20px;
}

.image:hover {
    transform: scale(1.05); /* Slightly scale up the image on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow on hover */
}

/* Button style */
.content .btn {
    background-color: #7EC275;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default button underline */
}

.content .btn:hover {
    background-color: #4e7549;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content .image {
        max-width: 100%; /* Adjusted image width for smaller screens */
        border-radius: 50%;
    }
}
