.regis {
    width: 100%;
    min-height: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7ec275;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 8px;
        color: #ffffff;
    }

    input {
        width: 70%;
        margin-left: 10px;
        margin-bottom: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    button {
        padding: 12px;
        background-color: transparent;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 20px;
        cursor: pointer;
    }
}

.innerRegist {
    width: 100%;
    margin-left: 780px;
    margin-top: 80px;
    width: 380px;
    border: 2px solid white;
    height: 450px;
    padding: 40px;
    border-radius: 50px;
}

.form-group {
    display: flex;
    width: 100%;
    color: white;
}

.form-group label{
    width: 30%;
    margin-top: 8px;
    color: black;
    font-weight: bold;
    text-align: right;
}

#buttonSave{
    margin-top: 30px;
    margin-left: 70px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
}