@import 'login';
@import 'register';
@import 'hero';
@import 'cuaca';
@import 'footer';
@import 'header';
@import 'responsive';
@import 'hasiltani';
@import 'artikel';
@import 'artikelDetail';
@import 'deskripsi';
@import 'prediksi';
@import 'pencatatan';
@import 'artikeldesc';
:root {
  --primary: #7ec275;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #fff;
}

#loading-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #010101;
}

.loader {
  border: 16px solid #b6e2b1;
  border-top: 16px solid #44c933;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}