@import 'login';
@import 'register';
@import 'hero';
@import 'cuaca';
@import 'footer';
@import 'header';
@import 'responsive';
@import 'hasiltani';
@import 'artikel';
@import 'artikelDetail';
@import 'deskripsi';
:root {
  --primary: #7ec275;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #fff;
}

/* Tablet */
@media (max-width: 758px) {
}

@media screen and (max-width: 600px) {
  
}